html {
    padding-left:20px;
}
body {
    padding-top: 60px;
}

h1 {
    margin-bottom:10px;
}

#table_overview tr td {
    min-width: 400px;
    padding:5px 0px
}

#back-to-overview {
    width: 940px;
    margin-right: auto;
    margin-left: auto;
    *zoom: 1;
}

.table_standard tr td {
    min-width: 200px;
    padding:5px 0px;
    margin:10px 0px;
}

.error {
    border: 1px #b94a48 solid;
    background-color: #f2c1bc;
    padding:5px;
    margin-top:15px;
    margin-bottom:15px;
    max-width: 500px;
}

.info {
    border: 1px #2777ee solid;
    background-color: #c3eaf2;
    padding:5px;
    margin-top:15px;
    margin-bottom:15px;
    max-width: 500px;
}
